$capture-width: 320px;

.root {
  &>* {
    margin: 0 auto;
    display: block;
  }
}

.capture {
  width: $capture-width;
  height: $capture-width;
  position: relative;

  video {
    width: $capture-width;
    height: $capture-width;
    position: absolute;
    left: 0;
    top: 0;
  }

  .cross {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      background-color: rgba($color: #f55, $alpha: .7);
      width: 20px;
      height: 20px;
      left: 0;
      top: 0;
    }

    &::before {
      height: 2px;
      top: 9px;
    }

    &::after {
      width: 2px;
      left: 9px;
    }
  }
}

.records {
  .item {
    display: flex;
    align-items: center;

    i {
      width: 16px;
      height: 16px;
      display: block;
      border-radius: 50%;
      margin: 0 5px;
    }
    .copyBtn {
      margin-left: 5px;
    }
  }
}

.snapBtn {
  margin: 20px auto;

  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: border-color 0.25s;

  &:hover {
    border-color: #646cff;
  }

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

}
