.root {
  display: flex;
  align-items: center;
  flex-direction: column;
  .remainCard {
    padding: 150px 0;
    text-align: center;
    font-size: 42px;
  }
  .props {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    button {
      margin-right: 15px;
    }
  }
}
